.menu {
    display: flex;
    flex-basis: 250px;
    background-color: dodgerblue;
}

.menu nav {
    flex: 1
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
}

.menu li a {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.menu li a:hover{
    background-color: #00000020;
}